@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject ICarService CarService;
@inject ISyncLocalStorageService LocalStorage

@if(category !=null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <CarList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to CaRental!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back, @LocalStorage.GetItemAsString("username")!</h1>
        </Authorized>
    </AuthorizeView>
    
    <CarList />
}


@code 
{
    [Parameter]
    public string CategoryUrl { get; set;  }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await CarService.LoadCars(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}
