@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if (order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @order.OrderDate</h3>
    <div>
        @foreach (var car in order.Cars)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@car.Image" class="image" />
                </div>
                <div class="name">
                    <h5><a href="/car/@car.CarId">@car.Brand</a></h5>
                    <span>@car.Edition</span>
                </div>
                <div class="car-price">$@car.TotalPrice</div>
            </div>
        }
        <div class="car-price">
            Total: $@order.TotalPrice
        </div>
    </div>
    
}

@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponseDTO order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(OrderId);
    }
}
